<!DOCTYPE html>
<html>
<head>
  <title>QLOCK</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">

  <!-- Bootstrap 4 snippet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <!-- end snippet -->

  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

  <script src="https://unpkg.com/vue-infinite-loading@^2/dist/vue-infinite-loading.js"></script></head>
<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <a class="navbar-brand" href="./index.html">QLOCK</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="https://bitbucket.org/shama265/qlock-light" target="_blank">Usage</a>
      </li>      
      <li class="nav-item">
        <a class="nav-link" href="settings.html">Settings</a>
      </li>      
    </ul>
  </nav>
  <div class="jumbotron text-center">
    <h1>QLOCK (JS Edition)</h1>
  </div>

  <div id="app" class="container">
    <alert-area class="my-3" :alerts="alerts"></alert-area>
    <div class="my-3">
      <button class="btn btn-primary" @click="stamp()">+ STAMP</button>
      <span id="stamped" class="ml-1 text-success" style="display: none;">Stamped!</span>
    </div>
    <div class="my-3">
      <button class="btn btn-sm btn-secondary" data-toggle="collapse" data-target="#filter">Filter</button>
    </div>
    <div id="filter" class="my-3 collapse">
      <div class="row">
        <div class="form-group col">
          <label for="date-from"> From: </label>
          <input type="date" class="form-control" id="date-from" v-model="dateFrom">
        </div>
        <div class="form-group col">
          <label for="date-to"> To: </label>
          <input type="date" class="form-control" id="date-to" v-model="dateTo">
        </div>
      </div>
    </div>

    <hr>

    <div id="timerecords" class="my-3">
      <h3 class="mb-3">Records</h3>
      <ul class="list-group">
        <li class="list-group-item"
          v-for="s in stampsSliced">{{ s | timestamp }}</li>
        <li id="read-more" class="list-group-item text-primary"
          style="cursor: pointer;"
          v-if="stampsView.length > viewLimit"
          @click="readMore()">
            <infinite-loading v-if="preferences.autoReadMore" @infinite="infiniteHandler"></infinite-loading>
            More records...
          </li>
      </ul>
      <div class="alert alert-secondary text-muted" v-if="stampsView.length == 0">
        No Records
      </div>
    </div>

  </div>

  <script src="components.js"></script>
  <script src="app.js"></script>
</body>
</html>
