<!DOCTYPE html>
<html>
<head>
  <title>Settings - QLOCK</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">

  <!-- Bootstrap 4 snippet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <!-- end snippet -->

  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <a class="navbar-brand" href="./index.html">QLOCK</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="https://bitbucket.org/shama265/qlock-light" target="_blank">Usage</a>
      </li>      
      <li class="nav-item">
        <a class="nav-link active">Settings</a>
      </li>
    </ul>
  </nav>

  <div id="settings" class="container">
    <alert-area class="my-3" :alerts="alerts"></alert-area>
    <h2 class="my-3">Settings</h2>
    <div class="px-3">

      <div class="row my-2">
        <div class="col-md-8 border-right pb-2">
          <h4>On-Load Stamp</h4>
          <small class="text-secondary">
            Stamp automatically when accessing this app.
          </small>
        </div>
        <div class="col-md-4 pt-1">
          <toggle-button :is-on="preferences.onLoadStamp"
            @click="togglePreference('onLoadStamp')"></toggle-button>
        </div>
      </div>

      <div class="row my-2">
        <div class="col-md-8 border-right pb-2">
          <h4>Auto Read-more</h4>
          <small class="text-secondary">
            Load more records automatically when scrolled down.
          </small>
        </div>
        <div class="col-md-4 pt-1">
          <toggle-button :is-on="preferences.autoReadMore"
            @click="togglePreference('autoReadMore')"></toggle-button>
        </div>
      </div>

      <div class="row my-2">
        <div class="col-md-8 border-right pb-2">
          <h4>Delete All</h4>
          <small class="text-secondary">
            Delete your all timestamp data saved in your browser.
            Now your data size is estimated {{ stampDataSize | byte }}.
          </small>
        </div>
        <div class="col-md-4 pt-1">
          <button class="btn btn-sm btn-outline-danger" @click="deleteAll()">DELETE ALL RECORDS</button>
        </div>
      </div>

    </div>

  </div>

  <script src="components.js"></script>
  <script src="settings.js"></script>
</body>
</html>
